! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝
!
! Xft ---------------------------------
Xft.dpi:       96
Xft.autohint:  false
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb


! Urxvt -------------------------------
URxvt.font: xft:JetBrainsMonoNL Nerd Font:size=12
URxvt.perl-ext-common: "default, -searchable-scrollback,selection-to-clipboard,matcher,tabbed"
URxvt.keysym.Meta-S:  builtin-string:
URxvt.keysym.Meta-Shift-S:  searchable-scrollback:start

URxvt*shading:85
URxvt*saveLines: 3200

!URxvt.font: xft:monaco:size=10
! URxvt.perl-ext-common: "default, -searchable-scrollback"
! clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
! clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
! tabs
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0
! scrollbar
URxvt*scrollBar: true
URxvt*scrollBar_right: true



! -----------------------------------
! FOR ALL OTHER PROGRAMS USE XRESOURCES
! This includes xterm and urxvt
*.foreground:   #bbc2cf
*.background:   #282c34
*.cursorColor:  #bbc2cf

! black
*.color0:       #1c1f24
*.color8:       #5b6268

! red
*.color1:       #ff6c6b
*.color9:       #da8548

! green
*.color2:       #98be65
*.color10:      #4db5bd

! yellow
*.color3:       #da8548
*.color11:      #ecbe7b

! blue
*.color4:       #51afef
*.color12:      #3071db

! magenta
*.color5:       #c678dd
*.color13:      #a9a1e1

! cyan
*.color6:       #5699af
*.color14:      #46d9ff

! white
*.color7:       #202328
*.color15:      #dfdfdf


